.messages {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-left: solid 1px #dce0dd;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: solid 1px #dce0dd;
}