.message {
  display: flex;
  padding: 5px;
}

.message.mine {
  flex-direction: row-reverse;
}

.message-text {
  background-color: #8fb7f2;
  padding: 5px;
  border-radius: 5px;
}

.message-text.mine {
  background-color: #dde4f0;
}